/* Defaults */
:root {
  --font-family: -apple-system, BlinkMacSystemFont, Roboto, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colours */
:root {
  --text-colour: white;
  --text-colour-meta: #5a5a5a;
  --text-colour-link: white;
  --text-colour-link-visited: white;
  --text-colour-header: white;
  --text-colour-footer: #c0c0c0;
  --text-colour-footer-link: #bbb;
  --text-colour-footer-visited: #bbb;

  --background-colour-header: #189ab4;
  --background-colour: #189ab4;

  --max-content-width: 50em;  /* 800px /16 */
}


/* Global stylesheet */
* {
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px dashed #C0C0C0;
  margin: 2rem 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-colour);
  background-color: var(--background-colour);
  font-size: 16px;
}

header > div,
main > div,
footer > div {
  max-width: var(--max-content-width);
  margin: 0 auto 0 auto;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: var(--max-content-width);
}
p,
.tmpl-post li,
.tmpl-page li {
  line-height: 1.45;
}

a[href] {
  color: var(--text-colour-link);
}
a[href]:visited {
  color: var(--text-colour-link-visited);
}


main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  color: var(--text-colour-header);
  background-color: var(--background-colour-header);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header a[href]:link,
header a[href]:visited {
  color: var(--text-colour-header);
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

/* Header */
.home {
  padding: 0;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1.2em;
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: right;
  margin-left: 1em;
  font-size: 1.1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.home a:link,
.home a:visited,
.nav a:link,
.nav a:visited {
  color: var(--text-colour);
}

/* Home page */

.recent h2 {
  margin-bottom: 0.5rem;
}

.recent .meta {
  font-size: 0.8125em;
  color: var(--text-colour-meta);
}


/* Infobox */
:root {
  --colour-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --colour-infobox: #082840;
  }
}

.infobox {
  background-color: var(--colour-infobox);
  color: #dad8d8;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

footer {
  color: var(--text-colour-footer);
  margin-top: 2rem;
}

footer > div > * {
  line-height: 1.5;
  text-align: right;
  font-size: 80%;
}

footer a[href]:link {
  color: var(--text-colour-footer-link);
}

footer a[href]:visited {
  color: var(--text-colour-footer-visited);
}

.bg-teal, .bg-teal body, .bg-teal header {
  background-color: #189ab4;
}

.bg-green, .bg-green body, .bg-green header {
  background-color: #1b7b00;
}

.bg-purple, .bg-purple body, .bg-purple header {
  background-color: #68007b;
}

.bg-red, .bg-red body, .bg-red header {
  background-color: #7b0000;
}
